<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Edit worker</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container" style="width: 70%">
        <div class="row">

            <form class="form-horizontal " th:action="@{'/worker/edit/'+${worker.tabNumber}}" th:object="${worker}" method="put">
                <div class="col-lg-10">
                    <section class="panel">
                        <header class="panel-heading">
                            Edit worker
                        </header>
                        <div class="panel-body">

                            <div class="form-group">
                                <input type="hidden" th:value="${oldTabNumber}" name="oldTabNumber">

                                <label class="control-label col-sm-4">Tab number</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{tabNumber}" class="form-control" required
                                           th:classappend="${#fields.hasErrors('tabNumber')} ? 'is-invalid'"/>
                                    <div th:if="${#fields.hasErrors('tabNumber')}" th:errors="*{tabNumber}"
                                         class="text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Surname</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{surname}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">First name</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{firstName}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Middle name</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{middleName}" size="16" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Position</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{occupation}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Salary</label>
                                <div class="col-sm-6">
                                    <input type="number" th:field="*{salary}" size="16" class="form-control" required
                                           th:classappend="${#fields.hasErrors('salary')} ? 'is-invalid'"/>
                                    <div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"
                                         class="text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Starting work date</label>
                                <div class="col-sm-6">
                                    <input type="date"
                                           th:field="*{startWorkingDate}"
                                           size="16" class="form-control"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Birth date</label>
                                <div class="col-sm-6">
                                    <input type="date" th:field="*{dateOfBirth}" size="16" class="form-control" required
                                           th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'is-invalid'"/>
                                    <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                                         class="text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group" style="display: none;">
                                <input type="hidden" th:field="*{age}" value="0">
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">City</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{city}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Street</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{street}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Building</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{building}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Flat</label>
                                <div class="col-sm-6">
                                    <input type="number" th:field="*{flat}" size="16" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Index</label>
                                <div class="col-sm-6">
                                    <input type="number" th:field="*{index}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" th:field="*{email}" size="16" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Phone number</label>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{phoneNumber}" size="16" class="form-control"
                                           required th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid'"/>
                                    <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                         class="text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" style="display: none"  id="password-field">Password</label>
                                <div class="col-sm-6">
                                    <input id="password" name="newPassword" type="hidden" th:value="${newPassword}" size="16" class="form-control" required >
                                </div>
                            </div>

                        </div>
                    </section>

                    <section class="panel">
                        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
                        <div class="panel-body">
                            <button type="submit" href="/add_worker" data-toggle="modal" class="btn btn-success">
                                Confirm
                            </button>
                            <a href="/worker" data-toggle="modal" class="btn btn-warning">
                                Cancel
                            </a>
                            <a id="password-btn" type="button" onclick="openPasswordField()" class="btn btn-danger">
                                Assign new password
                            </a>
                            <script>
                                function openPasswordField() {
                                    if(confirm('Змінити пароль для цього працівника? \n(старий пароль буде видалено зараз без можливості відновлення)')){
                                        const field = document.getElementById("password-field");
                                        field.style.display = (field.style.display === "none") ? "block" : "none";
                                        const button = document.getElementById("password-btn");
                                        button.style.display = "none";
                                        const input = document.getElementById("password");
                                        input.type = "text";
                                    }
                                }
                            </script>
                        </div>
                    </section>
                </div>
            </form>
        </div>
        </section>
    </div>
</div>
</div>

</div>
</body>
</html>