<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Чеки</title>

    <style>

        .print-only {
            display: none;

        }

        td {
            padding: 0;
            margin: 0;
        }

        tr {
            padding: 0;
            margin: 0;
        }

        table {
            padding: 0;
            margin: 0;
        }

        @media print {

            @page {
                padding: 3px;
            }

            .no-print {
                display: none !important;
            }

            .print-only {
                display: block;

            }

            .page-header, .page-header-space {
                height: 50px;
            }

            .page-footer, .page-footer-space {
                height: 50px;

            }

            .page-footer {
                position: fixed;
                text-align: center;
                bottom: 0;
                width: 100%;
                /*border-top: 1px solid black; /*for demo */
                /* background: yellow; for demo */
            }

            .page-header {
                position: fixed;
                text-align: right;
                top: 0;
                width: 100%;
                /*border-bottom: 1px solid black; /* for demo */
                /* background: yellow; for demo */
            }

        }
    </style>

</head>
<body>
<div layout:fragment="content">
    <h1>Чеки</h1>

    <div class="row">

        <div class="panel-body">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <a href="/add_receipt" data-toggle="modal" class="btn btn-primary btn-sm mb-1"
                       th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}"
                       style="font-size: 14px;">
                        New Receipt
                    </a>
                    <a href="/add_my_receipt" data-toggle="modal" class="btn btn-primary btn-sm mb-1"
                       th:if="${#authorization.expression('hasAuthority(''Касир'')')}"
                       style="font-size: 14px;">
                        New Receipt
                    </a>
                </div>
                <div class="col-lg-10">
                    <form th:action="@{/receipt(keyTab=${keyTab})}" th:object="${receipt}" method="get"
                          class="form-inline d-flex gap-2" id="searchForm">
                        <input type="datetime-local" name="starttime" id="starttime"
                               class="form-control form-control-sm"
                               style="width: 180px;" th:value="${starttime}"/>
                        <input type="datetime-local" name="endtime" id="endtime" class="form-control form-control-sm"
                               style="width: 180px;" th:value="${endtime}"/>

                        <select id="keyTab" th:value="${keyTab}" class="form-control book-select" name="keyTab"
                                style="display: inline; width: 30%">
                            <option value="">All workers</option>
                            <option th:each="worker : ${workers}"
                                    th:value="${worker.getTabNumber()}"
                                    th:text="${worker.getTabNumber() + ' (' + worker.getSurname() + ' ' + worker.getFirstName() + ')'}"
                                    th:selected="${worker.getTabNumber() == keyTab}">
                            </option>
                        </select>

                        <button type="submit" class="btn btn-success btn-sm" style="font-size: 14px;">Search</button>
                        <button type="button" class="btn btn-danger btn-sm" title="Clear" style="font-size: 14px;"
                                onclick="clearFilters()">
                            <i class="icon_trash"></i>
                        </button>

                    </form>
                </div>


            </div>
        </div>

        <div class="col-lg-12">
            <section class="panel">
                <div id="printArea">

                    <div class="page-header print-only">
                        Звіт: Чеки
                        <br/>
                    </div>

                    <div class="page-footer print-only">
                        Літературний сад
                    </div>

                    <table style="width: 100%;">
                        <thead>
                        <tr>
                            <td>
                                <!--place holder for the fixed-position header-->
                                <div class="page-header-space print-only"></div>
                            </td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td style="width: 100%">

                                <div class="print-body">
                                    <h2 id="printTitle" class="print-only" style="text-align: center">Звіт по усіх
                                        чеках</h2>


                                    <div class="print-only" style="text-align: left; margin-bottom: 10px;">
                                        <span th:if="${starttime != null && starttime != ''}" id="formattedStartTime"
                                              th:text="${starttime}"></span><br/>
                                        <span th:if="${endtime != null && endtime != ''}" id="formattedEndTime"
                                              th:text="${endtime}"></span><br/>
                                        <span th:if="${keyTab != null && keyTab != ''}"
                                              th:text="'Працівник: '+${keyTab}"></span>
                                    </div>


                                    <table class="table table-striped table-advance table-hover"
                                           style="width: 100%; margin-bottom:0">
                                        <tbody>
                                        <tr>
                                            <th><i class="icon_id_alt"></i> id</th>
                                            <th><i class="icon_calendar"></i> date buy</th>
                                            <th><i class="icon_wallet"></i> sum</th>
                                            <th><i class="icon_star"></i> bonuses</th>
                                            <th><i class="icon_id_alt"></i> client id</th>
                                            <th><i class="icon_profile"></i> client full name</th>
                                            <th><i class="icon_id-2"></i> worker id</th>
                                            <th><i class="icon_profile"></i> worker full name</th>
                                            <th class="no-print"><i class="icon_cogs no-print"></i> actions</th>
                                        </tr>
                                        <tr th:each="receipt : ${receipts}"
                                            th:if="${#authorization.expression('hasAuthority(''Менеджер'')') or receipt.worker_id == tab}">
                                            <td th:text="${receipt.id}"></td>
                                            <td th:text="${#temporals.format(receipt.time, 'yyyy-MM-dd HH:mm')}"></td>
                                            <td th:text="${receipt.totalPrice}"></td>
                                            <td th:text="${receipt.bonuses}"></td>
                                            <td th:text="${receipt.client_id}"></td>
                                            <td th:text="${receipt.client_full_name}"></td>
                                            <td th:text="${receipt.worker_id}"></td>
                                            <td th:text="${receipt.worker_full_name}"></td>
                                            <td class="no-print">
                                                <div class="btn-group">
                                                    <a class="btn btn-primary"
                                                       th:href="@{'/receipt/' + ${receipt.id}}">
                                                        <i class="icon_info"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>
                                <!--place holder for the fixed-position footer-->
                                <div class="page-footer-space print-only"></div>
                            </td>
                        </tr>
                        </tfoot>

                    </table>
                </div>

            </section>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function clearFilters() {
        // Очищення полів форми
        document.getElementById('starttime').value = '';
        document.getElementById('endtime').value = '';
        document.getElementById('keyTab').value = '';


        // Виклик AJAX для очищення сесії
        fetch('/receipt/clear', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Оновлення таблиці: повторна подача форми без дат
                    document.getElementById('searchForm').submit();
                } else {
                    alert('Помилка при очищенні фільтрів');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Помилка при очищенні фільтрів');
            });


    }


    document.addEventListener("DOMContentLoaded", function () {
        // Отримуємо значення starttime з елемента
        var starttime = document.getElementById("formattedStartTime").textContent.trim();
        var endtime = document.getElementById("formattedEndTime").textContent.trim();

        // Перевіряємо, чи є значення
        if (starttime) {
            // Якщо формат дати такий, як 'yyyy-MM-ddTHH:mm' (наприклад: '2025-05-03T12:45')
            var date = new Date(starttime);
            var dateEnd = new Date(endtime);


            // Перевірка, чи дата коректно розпарсилась
            if (isNaN(date)) {
                console.error("Невірний формат дати");
                return;
            }

            // Форматуємо дату
            var formattedDate = date.getFullYear() + '-' +
                ('0' + (date.getMonth() + 1)).slice(-2) + '-' +
                ('0' + date.getDate()).slice(-2) + ' ' +
                ('0' + date.getHours()).slice(-2) + ':' +
                ('0' + date.getMinutes()).slice(-2);

            var formattedDateEnd = dateEnd.getFullYear() + '-' +
                ('0' + (dateEnd.getMonth() + 1)).slice(-2) + '-' +
                ('0' + dateEnd.getDate()).slice(-2) + ' ' +
                ('0' + dateEnd.getHours()).slice(-2) + ':' +
                ('0' + dateEnd.getMinutes()).slice(-2);

            // Виводимо відформатовану дату
            document.getElementById("formattedStartTime").textContent = 'З: ' + formattedDate;
            document.getElementById("formattedEndTime").textContent = 'По: ' + formattedDateEnd;

        }
    });
</script>