<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Примірники</title>

    <style>
        .print-only {
            display: none;
        }

        td {
            padding: 0;
            margin: 0;
        }

        tr {
            padding: 0;
            margin: 0;
        }

        table {
            padding: 0;
            margin: 0;
        }

        @media print {

            @page {
                padding: 3px;
            }

            .no-print {
                display: none !important;
            }

            .print-only {
                display: block;

            }

            .page-header, .page-header-space {
                height: 50px;
            }

            .page-footer, .page-footer-space {
                height: 50px;

            }

            .page-footer {
                position: fixed;
                text-align: center;
                bottom: 0;
                width: 100%;
                /*border-top: 1px solid black; /*for demo */
                /* background: yellow; for demo */
            }

            .page-header {
                position: fixed;
                text-align: right;
                top: 0;
                width: 100%;
                /*border-bottom: 1px solid black; /* for demo */
                /* background: yellow; for demo */
            }

        }
    </style>

    <link th:href="@{/css/select2.min.css}" rel="stylesheet"/>

</head>
<body>
<div layout:fragment="content">
    <h1>Примірники</h1>

    <div class="row">
        <div class="panel-body">
            <div class="col-lg-2">
                <a href="/add_bookcopy" data-toggle="modal" class="btn btn-primary"
                   th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}">
                    New instance
                </a>
            </div>

            <div class="col-lg-8">
                <form th:action="@{/bookcopy}">
                    <select th:value="${keyISBN}" class="form-control book-select" name="keyISBN"
                            style="display: inline; width: 50%">
                        <option value="">All books</option>
                        <option th:each="book : ${books}"
                                th:value="${book.getISBN()}"
                                th:text="${book.getISBN() + ' (' + book.getName() + ')'}"
                                th:selected="${book.ISBN == keyISBN}">
                        </option>
                    </select>
                    <input type="hidden" name="available" id="availableInput" value="false"/>

                    <button type="submit"
                            class="btn btn-success"
                            onclick="document.getElementById('availableInput').value='true'">
                        Show All Available
                    </button>

                    <button type="submit"
                            class="btn btn-success"
                            onclick="document.getElementById('availableInput').value='false'">
                        Show All
                    </button>

                </form>
            </div>


        </div>
        <div class="col-lg-12">
            <section class="panel">
                <div id="printArea">

                    <div class="page-header print-only">
                        Звіт: Примірники
                        <br/>
                    </div>

                    <div class="page-footer print-only">
                        Літературний сад
                    </div>

                    <table style="width: 100%;">
                        <thead>
                        <tr>
                            <td>
                                <!--place holder for the fixed-position header-->
                                <div class="page-header-space print-only"></div>
                            </td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td style="width: 100%">

                                <div class="print-body">
                                    <h2 id="printTitle" class="print-only" style="text-align: center">Звіт по
                                        примірниках</h2>


                                    <div class="print-only" style="text-align: left; margin-bottom: 10px;">
                                        <span th:if="${keyISBN != null && keyISBN != ''}" id="keyISBNprint"
                                              th:text="'Книги: '+${keyISBN}"></span><br/>
                                    </div>


                                    <table class="table table-striped table-advance table-hover"
                                           style="width: 100%; margin-bottom:0">
                                        <tbody>
                                        <tr>
                                            <th><i class="icon_genius"></i> id</th>
                                            <th><i class="icon_cart"></i> receipt id</th>
                                            <th><i class="glyphicon-bookmark"></i> book isbn</th>
                                            <th><i class="icon_book"></i> book name</th>
                                            <th class="no-print"><i class="icon_cogs no-print"></i> actions</th>
                                        </tr>
                                        <tr th:each="instance : ${instances}">
                                            <td th:text="${instance.id}"></td>
                                            <td th:text="${instance.receipt_id}"></td>
                                            <td th:text="${instance.ISBN}"></td>
                                            <td th:text="${instance.book_name}"></td>
                                            <td class="no-print">
                                                <div class="btn-group">
                                                    <!--                                <a class="btn btn-success" th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}"-->
                                                    <!--                                   th:href="@{'/edit_bookcopy/' + ${instance.id}}"><i class="icon_pencil-edit"></i></a>-->
                                                    <a class="btn btn-danger"
                                                       th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}"
                                                       onclick="return confirm('sure?')"
                                                       th:disabled="${instance.receipt_id != 0}"
                                                       th:href="@{'/bookcopy/delete/' + ${instance.id}}"><i
                                                            class="icon_trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>
                                <!--place holder for the fixed-position footer-->
                                <div class="page-footer-space print-only"></div>
                            </td>
                        </tr>
                        </tfoot>

                    </table>
                </div>


            </section>
        </div>
    </div>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <!-- jQuery (обов'язково перед Select2!) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.book-select').select2({
                placeholder: "Choose a book",
                allowClear: true,
                width: '100%',
                matcher: function (params, data) {
                    if ($.trim(params.term) === '') {
                        return data;
                    }

                    if (typeof data.text === 'undefined') {
                        return null;
                    }

                    // Фільтрація по частковому співпадінню з назвою або ISBN
                    if (data.text.toLowerCase().includes(params.term.toLowerCase())) {
                        return data;
                    }

                    return null;
                }
            });
        });


    </script>
</div>

</body>

</html>