<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Примірники</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Примірники</h1>

    <div class="row">
        <div class="panel-body">
            <a href="/add_bookcopy" data-toggle="modal" class="btn btn-primary" th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}">
                New instance
            </a>

        </div>
        <div class="col-lg-12">
            <section class="panel">
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th><i class="icon_genius"></i> id </th>
                        <th><i class="icon_cart"></i> receipt id </th>
                        <th><i class="glyphicon-bookmark"></i> book isbn </th>
                        <th><i class="icon_book"></i> book name </th>
                        <th><i class="icon_cogs"></i> actions </th>
                    </tr>
                    <tr th:each="instance : ${instances}">
                        <td th:text="${instance.id}"></td>
                        <td th:text="${instance.receipt_id}"></td>
                        <td th:text="${instance.ISBN}"></td>
                        <td th:text="${instance.book_name}"></td>
                        <td>
                            <div class="btn-group">
<!--                                <a class="btn btn-success" th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}"-->
<!--                                   th:href="@{'/edit_bookcopy/' + ${instance.id}}"><i class="icon_pencil-edit"></i></a>-->
                                <a class="btn btn-danger" th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}"
                                   onclick="return confirm('sure?')"
                                   th:href="@{'/bookcopy/delete/' + ${instance.id}}"><i class="icon_trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
</body>

</html>