<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Книги</h1>

    <section>
        <picture>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwzBH_mayd5fRRD62RYc8GVI3sLcwVbRAHvg&s">
        </picture>
        <picture>
            <img src="https://memi.klev.club/uploads/posts/2024-04/memi-klev-club-k6el-p-memi-kot-s-rozoi-1.jpg">
        </picture>
    </section>

</div>
</body>

</html>