<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Add genre</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container" style="width: 70%">
        <div class="row">
            <form class="form-horizontal " th:action="@{/genres}" method="post">
                <div class="col-lg-8">
                    <section class="panel">
                        <header class="panel-heading">
                            Add new genre
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name" value="" size="16" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Description</label>
                                <div class="col-sm-6">
                                    <input type="text" name="description" value="" size="16" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display: none;">
                                <input type="hidden" name="numberOfBooks" value="0">
                            </div>
                        </div>
                    </section>

                    <section class="panel">
                        <div class="panel-body">
                            <button type="submit" href="/add_genre" data-toggle="modal" class="btn btn-success">
                                Confirm
                            </button>
                            <a href="/genre" data-toggle="modal" class="btn btn-warning">
                                Cancel
                            </a>
                        </div>
                    </section>
                </div>
            </form>

        </div>
    </div>


</div>
</body>
</html>